<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      body, #messages-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    </style>
  </head>
  <body>
    <div id="messages-container">
      <% for(var i = 0; i < messages.length; i++) { %>
          <span><%= messages[i].user %> - <%= messages[i].added %>: <%= messages[i].text %></span>
      <% } %>
    </div>
    <a href="/new">Link to new (submit a message)</a>
  </body>
</html>
